-title('Trending Topics')

%ol
  - for topic in @topics
    %li
      %b= link_to(topic.name, "/topics/#{URI.escape topic.name}")

= will_paginate @topics


-#%ol
-#  - for topic in @topics
-#    %li
-#      %b
-#        = topic.name
-#      - for post in topic.posts
-#        %ul
-#          %li
-#            = post.text
-#    %br

